#commissions-container
  #commissions
    .sidebar-container
      ul.commissions-menu
        li.heading= t('commissions.title')
        li: a(href="/comisiones/comunicacion")= t('commissions.communication')
        li: a(href="/comisiones/organizacion")= t('commissions.organization')
        li: a(href="/comisiones/plataformas")= t('commissions.platforms')
        li: a(href="/comisiones/territorio")= t('commissions.territory')
        li: a(href="/comisiones/financiamiento")= t('commissions.financing')
        li: a(href="/comisiones/partidos-en-red")= t('commissions.net-parties')
        li: a(href="/comisiones/afiliaciones")= t('commissions.affiliations')
    .commissions-content
